{% extends 'base.html' %}
{% block title %}Dashboard |{% endblock  %} 
{% block content %}
<h1 class="mt-5 mb-3">Hello {{ user.username }}</h1>
{% include 'partials/_messages.html' %}
<div class="container">
    <form method='POST' action="{% url 'dashboard' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock  %}